<!--
  Generated template for the ProgramDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>ALLERGAN E PRODUTOS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <img src="./assets/images/sim-logo.png">
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="data">
    <ion-card>
      <ion-card-content>
        <ion-row>
          <p class="product-title">{{getValidTimeRange(data.startTime)}}</p>
          <p class="product-subtitle">{{data.name}}</p>
          <span class="eventos-add-btn-text" *ngIf="setedSim[data.$key]">
                INSCRIÇÃO CONFIRMADA COM SUCESSO
          </span>
          <button ion-button icon-only class="eventos-add-btn" [ngClass]="{'eventos-sim-btn': simObj[data.$key], 'eventos-add-btn': !simObj[data.$key]}" (click)="setSim(data)" *ngIf="eventType==1">
            <ion-icon [name]="(!simObj[data.$key])?'ios-add':'ios-checkmark'"></ion-icon>
          </button>
        </ion-row>
        <ion-row>
          <p>{{data.desc}}</p>
        </ion-row>
        <div>
          <div class="program-divider user-devider" *ngIf="data.speakers">palestrantes</div>
          <div class="users-content" *ngIf="data.speakers">
            <div class="user-item" *ngFor="let speaker of data.speakers">
              <ion-item>
                <ion-avatar item-left>
                  <img [src]="getSafeUrl(speaker.photo)">
                </ion-avatar>
                <h2>{{speaker.name}}</h2>
                <!--<ion-icon name="ios-arrow-forward" item-right></ion-icon>-->
              </ion-item>
            </div>

            <div *ngIf="data.materials">
              <div class="program-divider">Material para download</div>
              <ion-item *ngFor="let material of data.materials" (click)="goToDownload(material)">
                <ion-icon name="ios-download-outline" item-left></ion-icon>
                {{material.filename}}
              </ion-item>
            </div>

            <div *ngIf="data.polls">
              <div class="program-divider">Responda a enquete</div>
              <ion-item *ngFor="let poll of data.polls; let ind = index" (click)="gotoEnquet(data.$key, poll)">
                <ion-icon name="ios-chatboxes-outline" item-left></ion-icon>
                {{poll.title}}
              </ion-item>
            </div>

          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
