@include custom-alert();
page-program-detail {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles($white, $theme-color-2);
  @include animation-hide-header();
  @include animation-hide-content();
  @include segment-toolbar();
  @include collapse-list();


  .sim-logo-header
  {
    ion-navbar {
      .logo-header-menu-toggle {
        color: $theme-color-2;
        font-size: 20px;
        ion-icon {
          font-size: 3.5rem;
        }
      }
    }
    .toolbar {
      .toolbar-content {
        img {
          width: 53%;
          margin: 10px;
        }
      }
    }
  }


}
