login-page {
  .login-content {
    .intro-image-row {
      @include justify-content(center);
      margin-top: 35px;
    }
    .intro-text-row {
      @include justify-content(center);
      margin-top: 40px;
      .intro-text {
        margin: 30px 15%;
        font-size: 1.2rem;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 1px;
        color: $white-text;
        text-transform: uppercase;
      }

      .text-small {
        font-size: 0.8rem;
      }
    }
    .forgot-text {
      margin-top: 30px;
      width: 100%;
      line-height: 1.1;
      text-align: center;
      letter-spacing: 1px;
      color: $white-text;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
    .login-form {
      margin: 0px 18%;
      .place-holder-input {
        position: relative;
        .place-holder-icon {
          position: absolute;
          bottom: 3px;
          left: 5px;
          font-size: 23px;
          color: white;
        }
        .text-input {
          padding-left: 17px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
