<ion-content class="login-content auth-content">
  <ion-row>
    <ion-col center no-padding text-center class="auth-title">ENTRAR</ion-col>
  </ion-row>
  <ion-row class="intro-image-row">
    <ion-col center width-60 no-padding>
      <preload-image [ratio]="{w:3, h:1}" src="./assets/images/slide-1.png" alt="app logo"
                     title="ion2FullApp"></preload-image>
    </ion-col>
  </ion-row>
  <ion-row class="intro-text-row">
    <p class="intro-text">
      Insira o seu CPF e senha para visualizar nosso conteúdo exclusivo.
    </p>
  </ion-row>

  <form class="login-form auth-form" #loginForm="ngForm" (submit)="onSubmit($event)">

    <ion-row class="place-holder-input">
      <ion-icon name="ios-person-outline" class="place-holder-icon"></ion-icon>
      <ion-item>
        <ion-input type="text" placeholder="CPF" [(ngModel)]="form.cpf" name="cpf"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="place-holder-input">
      <ion-icon name="ios-lock-outline" class="place-holder-icon"></ion-icon>
      <ion-item>
        <ion-input type="password" placeholder="SENHA" [(ngModel)]="form.password" name="password"></ion-input>
      </ion-item>
    </ion-row>

    <input type="submit" value="####" style="position: absolute;top:0px;left: -10000px;"/>

    <div class="error" *ngIf="error">
      <p>{{error}}</p>
    </div>
  </form>
  <ion-row class="intro-text-row" (click)="openForgotPasswordPage()">
    <p class="intro-text text-small">
      ESOUECI MINHA SENHA
    </p>
  </ion-row>
</ion-content>
<ion-footer class="auth-footer">
  <ion-toolbar>
    <button ion-button clear (click)="doCancel()">CANCELAR</button>
    <button ion-button clear (click)="doLogin()">CONTINUAR</button>
  </ion-toolbar>
</ion-footer>
