.auth-header
{
  @include header-styles(color($colors, walkthrough-header, base), color($colors, walkthrough-header, contrast));
  font-family: 'uni_sans_regularregular';
}
.auth-footer {
  font-family: 'uni_sans_regularregular';
  .toolbar {
    min-height: 40px;
    padding: 0px;
    .button {
      width: calc(50% - 2px);
      height: 40px;
      margin: 0px;
      color: #878787;
      font-size: 12px;
    }
  }
}

.auth-content
{
	padding: 16px 6%;
  background-color: color($colors, walkthrough, base);
  font-family: 'uni_sans_regularregular';
  letter-spacing: 1.6px;

	.scroll-content
	{
		padding: 16px 6%;
	}

	.auth-title
	{
		color: $white;
		margin-top: 5px;
		margin-bottom: 25px;
	}

	.auth-form
	{
		ion-item {
			@include basic-input-style(color($colors, background, contrast), $white, $white-d);

			&.item
			{
				input[type="password"].text-input
				{
					padding-right: 6rem;
				}
			}
		}

		.auth-action-button
		{
			margin: 0px;
			margin-top: 20px;

			@include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
		}

		.show-hide-password
		{
			.type-toggle
			{
				color: $white-d;
				margin: 0px;
				padding: 0px 6px;
				text-align: right;
			}
		}
	}

	.auth-divider
	{
		font-size: 1.6rem;
		color: $white-d;
		margin: 20px 0px;
		text-align: center;
	}

	.facebook-auth-button
	{
		margin: 0px;
		@include call-to-action-button-styles(color($colors, facebook, base), color($colors, facebook, contrast));
	}

	.google-auth-button
	{
		margin: 0px;
		margin-top: 20px;
		@include call-to-action-button-styles(color($colors, google, base), color($colors, google, contrast));
	}
}

.error {
  width: 100%;
  text-align: center;
  color: #ff6d6d;
  font-size: 10px;
}
.success {
  width: 100%;
  text-align: center;
  color: #49ff00;
  font-size: 10px;
}

@import "./auth.ios";
@import "./auth.wp";
