<ion-header class="forgot-password-header auth-header" no-border>
  <ion-navbar>
    <ion-title>Nº DE VOUCHER</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
  <ion-row class="intro-text-row">
    <p class="intro-text">
      <span><b>MENSAGEM AO USUÁRIO:</b></span><br>
      Insira seu nº do voucher ou entre em contato com o seu consultor Allergan
    </p>
  </ion-row>

  <form class="login-form auth-form" (ngSubmit)="doLogin()" #loginForm="ngForm">

    <ion-row class="place-holder-input">
      <ion-item>
        <ion-input type="text" placeholder="Nº" [(ngModel)]="voucher" name="cpf"></ion-input>
      </ion-item>
    </ion-row>

  </form>
  <ion-row class="intro-button-row" (click)="confirmVoucher()">
    <button ion-button>INSERIR</button>
  </ion-row>
  <div *ngIf="error.message" [ngClass]="{'success': error.status, 'error': !error.status }">
    <p>{{error.message}}</p>
  </div>
</ion-content>
