page-voucher {
  @include custom-header-styles(#0054a6, $white);
  .login-content {
    .intro-image-row {
      @include justify-content(center);
      margin-top: 35px;
    }
    .intro-text-row {
      @include justify-content(center);
      margin: 50px 10% 10px 10%;
      .intro-text {
        margin: 0px;
        font-size: 1.2rem;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 1px;
        color: $white-text;
        //text-transform: uppercase;
      }

      .text-small {
        font-size: 0.8rem;
      }
    }
    .intro-button-row {
      @include justify-content(center);
      margin-top: 25px;
      .button {
        width: 150px;
        border-radius: 10px;
        background: color($colors, button, base) !important;
      }
    }
    .login-form {
      margin: 50px 18% 10px 18%;
      .place-holder-input {
        position: relative;
        .place-holder-icon {
          position: absolute;
          bottom: 3px;
          left: 5px;
          font-size: 23px;
          color: white;
        }
        .text-input {
          margin-bottom: 0px;
          margin-top: 10px;
        }
        .text-input::placeholder {
          color: white;
          font-size: 1.3rem;
        }
      }
    }
  }
}
