<ion-header class="forgot-password-header auth-header" no-border>
  <ion-navbar>
    <ion-title>ESOUECI MINHA SENHA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
  <ion-row class="intro-image-row">
    <ion-col center width-60 no-padding>
      <preload-image [ratio]="{w:3, h:1}" src="./assets/images/slide-1.png" alt="app logo"
                     title="ion2FullApp"></preload-image>
    </ion-col>
  </ion-row>

  <form class="login-form auth-form" (ngSubmit)="doLogin()" #loginForm="ngForm">

    <ion-row class="place-holder-input">
      <ion-icon name="ios-person-outline" class="place-holder-icon"></ion-icon>
      <ion-item>
        <ion-input type="text" placeholder="CPF" [(ngModel)]="forgot_password.cpf" name="cpf"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="intro-text-row">
      <p class="intro-text">
        Insira o seu CPF, você receberá um e-mail para redefinir sua senha
      </p>
    </ion-row>

  </form>
  <ion-row class="intro-button-row" (click)="recoverPassword()">
    <button ion-button>INSERIR</button>
  </ion-row>
  <div class="error" *ngIf="error">
    <p>{{error}}</p>
  </div>
</ion-content>
