page-event-detail {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles(transparent, $white);
  @include event-detail-view();
  @include segment-toolbar();
  .event-detail-footer {
    height: 45px;
    .button {
      height: 42px;
      background: #00aeef;
      .button-inner {
        line-height: 39px;
        font-size: 1.3rem;
      }
    }
  }
}
