<!--
  Generated template for the EventDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border mode="ios">
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="detail-content" (click)="goToInfo()">
    <img class="background-img" [src]="getSafeUrl(data.picture)"/>
    <div class="eventos-item-content">
      <img class="logo-img" [src]="getSafeUrl(data.logo)"/>
      <div class="detail-tag">Eventos Allergan</div>
      <duration-label [start]="data.start_time" [end]="data.end_time"></duration-label>
      <p>{{data.location.address}}</p>
      <p class="detail-desc">{{data.desc}}</p>
      <button ion-button icon-only class="eventos-arrow-forward">
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </div>
  </div>
  <div class="detail-action">
    <div class="detail-action-item" (click)="goToPro()">
      <img src="./assets/images/event-detail-program.png"/>
      <p>PROGRAMAÇÃO</p>
    </div>
    <div class="detail-program" (click)="goToUsersList()">
      <img src="./assets/images/event-detail-pales.png"/>
      <p>PALESTRANTES</p>
    </div>
  </div>
</ion-content>
<ion-footer class="event-detail-footer" no-border no-padding (click)="goToTravel()">
  <button ion-button full>VEJA AQUI SEU HOTEL, PASSAGENS E OUTRAS INFOS</button>
</ion-footer>
