<ion-header class="logo-header" no-border mode="ios">
  <ion-navbar>
    <ion-title>
      MEU PERFIL
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="signup-content auth-content">
  <div class="profile-pic" (click)="takePicture()">
    <div class="square-img">
      <img [src]="dataAvatar || './assets/images/blank_user.jpg'"/>
    </div>
  </div>
  <div *ngIf="signup">

    <form class="signup-form auth-form" [formGroup]="signup" (submit)="onSubmit($event)">
      <ion-item [ngClass]="{'has-error':!signup.controls['name'].valid && (signup.controls['name'].dirty || error)}">
        <ion-label stacked>NOME</ion-label>
        <ion-input type="text" placeholder="" formControlName="name"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'has-error':!signup.controls['email'].valid && (signup.controls['email'].dirty || error)}">
        <ion-label stacked>E-MAIL</ion-label>
        <ion-input type="email" placeholder="" formControlName="email" disabled></ion-input>
      </ion-item>
      <ion-row class="intro-select">
        <ion-col center width-66 no-padding>
          <ion-item [ngClass]="{'has-error':!signup.controls['crm'].valid && (signup.controls['crm'].dirty || error)}">
            <ion-label stacked>№ CRM</ion-label>
            <ion-input type="number" placeholder="" formControlName="crm" disabled></ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-30 no-padding>
          <ion-item [ngClass]="{'has-error':!signup.controls['uf'].valid && (signup.controls['uf'].dirty || error)}">
            <ion-label stacked>UF</ion-label>
            <ion-select formControlName="uf" [selectedText]="Sigla">
              <ion-option [value]="city.ID" *ngFor="let city of ufData">{{city.Nome}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item [ngClass]="{'has-error':!signup.controls['city'].valid && (signup.controls['city'].dirty || error)}">
        <ion-label stacked>CIDADE</ion-label>
        <ion-input type="text" placeholder="" formControlName="city"></ion-input>
      </ion-item>
      <ion-item [ngClass]="{'has-error':!signup.controls['speciality'].valid && (signup.controls['speciality'].dirty || error)}">
        <ion-label stacked>ESPECIALIDADE</ion-label>
        <ion-input type="text" placeholder="" formControlName="speciality"></ion-input>
      </ion-item>

      <ion-row class="intro-select">
        <ion-col center width-66 no-padding>
          <ion-item [ngClass]="{'has-error':(!signup.controls['cpf'].valid || !cpfValid) && (signup.controls['cpf'].dirty || error)}">
            <ion-label stacked>CPF</ion-label>
            <ion-input type="number" placeholder="" formControlName="cpf" [change]="oncpfChange()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-30 no-padding>
          <ion-item [ngClass]="{'has-error':!signup.controls['gender'].valid && (signup.controls['gender'].dirty || error)}">
            <ion-label stacked>SEXO</ion-label>
            <ion-select formControlName="gender">
              <ion-option value="male">Masculino</ion-option>
              <ion-option value="female">Feminino</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item [ngClass]="{'has-error':!signup.controls['phonenumber'].valid && (signup.controls['phonenumber'].dirty || error)}">
        <ion-label stacked>Celular</ion-label>
        <ion-input type="text" placeholder="" formControlName="phonenumber"></ion-input>
      </ion-item>
      <input type="submit" value="####" style="position: absolute;top:0px;left: -10000px;"/>
    </form>
    <div class="error" *ngIf="error">
      <p>{{error}}</p>
    </div>
  </div>
</ion-content>
<ion-footer class="auth-footer">
  <ion-toolbar>
    <button ion-button clear (click)="doCancel()">CANCELAR</button>
    <button ion-button clear (click)="doChange()">SALVAR</button>
  </ion-toolbar>
</ion-footer>
