page-eu-profile {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles(#0054a6, $white);
  .signup-content {
    .profile-pic {
      text-align: center;
      width: 100%;
      img {
        width: 70px;
        height: 70px;
        border-radius: 40px;
      }
    }
    .legal-stuff {
      color: $white-d;
      text-align: center;
      margin: 10px 12px;

      .legal-action {
        font-weight: 500;
        color: $theme-color-2;
      }
    }

    .signup-form {
      margin: 0px 18%;
      .item {

        .item-inner {
          border-bottom: 1px solid $white-d;
          ion-label {
            color: $white-text;
            font-size: 9px;
            margin-bottom: 0px;
            text-transform: uppercase;
          }
        }
        .text-input {
          margin-bottom: 0px;
          font-size: 14px;
          padding-left: 10px;
        }
        ion-select {
          width: 100%;
          padding: 0px 5px 0px 0px;
          color: $white;
          font-size: 13px;
          text-transform: uppercase;
        }
        .padding-select {
          padding-left: 10px;
        }

        &.has-error .item-inner{
          border-bottom: 1px solid red;
        }
      }
      .intro-select {
        .col {
          padding: 0px;
          .item {
            height: 44px;
            ion-select {
              max-width: 100%;
            }
          }
        }
        .col:first-child {
          margin-right: 3%;
        }
      }
      .place-holder-input {
        position: relative;
        .place-holder-icon {
          position: absolute;
          bottom: 3px;
          left: 5px;
          font-size: 23px;
          color: white;
        }
        .text-input {
          padding-left: 17px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
