<!--
  Generated template for the AdminTest page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>Admin Test</ion-title>
    <!--<ion-buttons end>-->
    <!--<button ion-button class="logo-header-menu-toggle">-->
    <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
  <ion-toolbar class="segment-toolbar" no-padding>
    <ion-segment mode="md" [(ngModel)]="currentData">
      <ion-segment-button value="lectures" (click)="checkData('lectures')">
        lectures
      </ion-segment-button>
      <ion-segment-button value="speakers" (click)="checkData('speakers')">
        speakers
      </ion-segment-button>
      <ion-segment-button value="polls" (click)="checkData('polls')">
        polls
      </ion-segment-button>
      <ion-segment-button value="events" (click)="checkData('events')">
        events
      </ion-segment-button>
      <ion-segment-button value="congresses" (click)="checkData('congresses')">
        congresses
      </ion-segment-button>
      <ion-segment-button value="materials" (click)="checkData('materials')">
        materials
      </ion-segment-button>
      <ion-segment-button value="travels" (click)="checkData('travels')">
        travels
      </ion-segment-button>
      <ion-segment-button value="promotions" (click)="checkData('promotions')">
        promotions
      </ion-segment-button>
      <ion-segment-button value="vouchers" (click)="checkData('vouchers')">
        RECEPTIVO
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <button ion-button full (click)="addNewData(currentData)">Add New</button>
  <ion-list *ngIf="currentData=='lectures' && data.length">
    <ion-item *ngFor="let item of data">
      <p>{{item.name}}</p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentData=='speakers' && data.length">
    <ion-item *ngFor="let item of data">
      <p>{{item.name}}</p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentData=='polls' && data.length">
    <ion-item *ngFor="let item of data">
      <p>{{item.lecture_id}}</p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentData=='events' && data.length">
    <ion-item *ngFor="let item of data">
      <p>{{item.name}}</p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentData=='congresses' && data.length">
    <ion-item *ngFor="let item of data">
      <p>{{item.name}}</p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentData=='materials' && data.length">
    <ion-item *ngFor="let item of data">
      <p>{{item.file}}</p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentData=='travels' && data.length">
    <ion-item *ngFor="let item of data">
      <p>{{item.hotel_info}}</p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentData=='promotions' && data.length">
    <ion-item *ngFor="let item of data">
      <p>{{item.image}}</p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentData=='vouchers' && data.length">
    <ion-item *ngFor="let item of data">
      <p>{{item.voucher}}</p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
