@mixin basic-input-style($background, $text-color, $placeholder-color){
	&.item
	{
		padding: 0px;
		background-color: $background;

		.item-inner
		{
			padding: 0px 0.6rem;
      border-bottom: 1px solid $white-d;
      box-shadow: none !important;
		}

		.text-input
		{
			margin: 0px 0px;
			width: 100%;
			padding: 0px;
			color: $text-color;
			@include placeholder {
				color: $placeholder-color;
        font-size: 10px;
        line-height: 20px;
			}
		}
	}
}

@import "./range";
@import "./checkbox";
@import "./radio";
@import "./checkbox-tags";
@import "./radio-tags";
@import "./switcher";
@import "./counter";
@import "./rating";
@import "./color-radio";
