<!--
  Generated template for the ScienceInfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>INFO ATIVIDADE</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="slider-show" [ngClass]="{'slider-hide': isScroll }">
    <img [src]="getSafeUrl(data.logo)">
  </ion-toolbar>
</ion-header>


<ion-content (ionScroll)="scrollChange()">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <p class="product-title">{{data.name}}</p>
        <p class="product-subtitle">
          <duration-label [start]="data.start_time" [end]="data.end_time"></duration-label>
        </p>
        <p class="product-subtitle">{{data.location.address}}</p>
      </ion-row>
      <ion-row>
        <p>{{data.desc}}</p>
      </ion-row>
      <ion-row class="contact-row">
        <p>Site: {{data.contact_info.site}}</p>
        <p>E-mail: {{data.contact_info.email}}</p>
        <p>Telephone: {{data.contact_info.telephone}}</p>
      </ion-row>
      <ion-row class="contact-row" *ngIf="data.location.lat || data.location.lng">
        <div #map id="map"></div>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer no-border no-padding class="event-info-footer" *ngIf="data.location.lat || data.location.lng">
  <button ion-button full (click)="showpathModal(data.location)" >COMO CHEGAR</button>
</ion-footer>

