<!--
  Generated template for the UsersList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>PALESTRANTES</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="slider-show" [ngClass]="{'slider-hide': isScroll }">
    <img src="./assets/images/sim-logo.png">
  </ion-toolbar>
</ion-header>


<ion-content (ionScroll)="scrollChange()">
  <div *ngIf="data">
    <ion-card *ngFor="let item of data" (click)="goToSpeakerDetial(item)">
      <ion-card-content>
        <ion-row>
          <div class="profile-pic">
            <img [src]="getSafeUrl(item.photo)"/>
            <p>{{item.name}}</p>
          </div>
        </ion-row>
        <ion-row>
          <p>{{item.desc}}</p>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <div class="content-vertical-center" *ngIf="!data.length && !isLoading">
      No data.
    </div>
  </div>

</ion-content>
