<!--
  Generated template for the Contact page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>CONTATO</ion-title>
    <!--<ion-buttons end>-->
      <!--<button ion-button class="logo-header-menu-toggle">-->
        <!--<ion-icon name="menu"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <img src="./assets/images/sim-logo.png">
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <p>Informações de contato da Allergan</p>
        <p>Em caso de dúvida sobre a Allergan ou para mais informações, contate-nos:</p>
      </ion-row>
      <ion-row>
        <p>SAC: 0800 14 4077 (seg a sex, das 8h às 18h)</p>
        <p>Escritório São Paulo: +55 11 3048-0500</p>
        <p>Fábrica Guarulhos: +55 11 2423-2000</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
