@mixin animation-hide-content(){
  .slider-content-hide, .slider-content-show {
    max-height: 1000px;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    padding: 0px;
    min-height: 0px;
  }
  .slider-content-hide {
    max-height: 0px;
  }
}
