@mixin animation-hide-header(){
  .slider-hide, .slider-show {
    height: 65px;
    overflow-y: hidden;
    -webkit-transition: height 0.1s ease-in-out;
    -moz-transition: height 0.1s ease-in-out;
    -o-transition: height 0.1s ease-in-out;
    transition: height 0.1s ease-in-out;
    padding: 0px;
    min-height: 0px;
  }
  .slider-hide {
    height: 0px;
  }
}
