@mixin collapse-list(){
  ion-content {
    background: #ebebeb !important;
    .data-title {
      background: transparent;
      width: 100%;
      padding-left: 20px;
      color: $theme-color-2;
      font-size: 1.7rem;
      margin-top: 7px;
    }
    .card-content {
      padding: 0px;
      text-align: left;
      .row {
        position: relative;
        margin: 12px;
        p {
          width: 100%;
          color: $main-text;
          font-size: 1.3rem;
          margin-bottom: 14px;
        }
        .product-title {
          font-size: 1.5rem;
          color: $theme-color-2;
          font-weight: bold;
          margin-bottom: 0px;
          text-transform: uppercase;
        }
        .product-subtitle {
          font-size: 1.5rem;
          color: $theme-color-2;
          margin-bottom: 10px;
        }

        .eventos-add-btn {
          position: absolute;
          right: 0px;
          top: 0px;
          border-radius: 100px;
          margin: 0px !important;
          height: 36px !important;
          width: 36px !important;
          background: $theme-color-2 !important;
          .button-inner {
            color: $white !important;
          }
        }

        .eventos-add-btn-text{
          position: absolute;
          top: 0px;
          right: 40px;
          text-align: center;
          font-size: 11px;
          width: 125px;
          color: #197b30 !important;
        }

        .eventos-sim-btn {
          position: absolute;
          right: 0px;
          top: 0px;
          border-radius: 100px;
          margin: 0px !important;
          height: 36px !important;
          width: 36px !important;
          background: #197b30 !important;
          .button-inner {
            color: $white !important;
          }
        }
      }
      .program-divider {
        height: 25px;
        margin: 0px;
        border: 1px solid #eee;
        text-transform: uppercase;
        padding-left: 10px;
        color: $white;
        background: $theme-color-2;
        line-height: 23px;
      }
      .user-devider {
        color: $theme-color-2;
        background: $white;
      }
      .users-content {
        width: 100%;
        text-align: left;
        .user-item {
          width: 49%;
          display: inline-block;
        }
        .item {
          height: 50px;
          .label {
            font-size: 1.1rem;
          }
          h2 {
            font-size: 1.3rem;
          }
          p {
            font-size: 1.3rem;
          }
        }
      }
      .button {
        height: 25px;
        margin: 0px;
        background: $white;
        .button-inner {
          color: $theme-color-2;
          line-height: 10px;
        }
      }
    }
  }

}
