@mixin custom-header-styles($background, $color){
  .header {
    .toolbar-background
    {
      border: none;
      background-color: $background !important;
    }

    .toolbar {
      .bar-button {
        color: $color;
        font-size: 1.1rem;
      }
      .toolbar-content {
        text-align: center;
        .title-md{
          position: absolute;
          top: 17px;
          width: 100%;
          left: 0px;
          font-size: 1.7rem;
          z-index: -1;
          .toolbar-title {
            font-size: 1.8rem;
          }
        }
      }
    }

    .toolbar-title,
    .back-button,
    .bar-button
    {
      color: $color;
    }
    .bar-buttons{
      .ion-ios-home {
        color: $color;
      }
    }
  }

}
