@mixin custom-alert(){
  .alert-wrapper {
    font-family: 'uni_sans_regularregular';
    border-radius: 5px !important;
    background: #ffffff !important;
    .alert-head {
      padding: 5px 10px 5px !important;
      .alert-title {
        color: $theme-color-2;
      }
    }
    .alert-message {
      padding: 0 10px 15px;
      color: $main-text;
    }
    .alert-button-group {
      .alert-button {
        height: 36px;
        color: $black;
        font-weight: normal;
        font-size: 1.4rem;
      }
    }
  }
}
