@mixin event-detail-view(){
  ion-content {
    .fixed-content {
      margin-top: 0px !important;
    }
    .scroll-content {
      padding-top: 0px !important;
    }
    .detail-content {
      position: relative;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      width: 100%;
      height: 55vh;
      display: inline-block; /* or you could float them */
      overflow: hidden;
      .background-img {
        position: absolute;
        z-index: -1;
        max-width: none;
        width: 100%;
        //height: 100%;
        //-webkit-filter: blur(5px); /* Safari */
        //filter: blur(5px);
      }
      .eventos-item-content {
        position: absolute;
        padding-left: 22px;
        padding-bottom: 30px;
        text-transform: uppercase;
        width: 100%;
        bottom: 0px;
        background: rgba(0,0,0,0);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.24) 7%, rgba(0,0,0,0.76) 22%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(0%, rgba(0,0,0,0)), color-stop(0%, rgba(0,0,0,0)), color-stop(0%, rgba(0,0,0,0)), color-stop(7%, rgba(0,0,0,0.24)), color-stop(22%, rgba(0,0,0,0.76)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.24) 7%, rgba(0,0,0,0.76) 22%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.24) 7%, rgba(0,0,0,0.76) 22%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.24) 7%, rgba(0,0,0,0.76) 22%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.24) 7%, rgba(0,0,0,0.76) 22%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        .logo-img {
          max-width: 60%;
          max-height: 100px;
          display: block;
        }
        .detail-tag {
          background: $theme-color-2;
          color: $white;
          padding: 5px;
          font-size: 1.7rem;
          display: inline-block;
        }
        p {
          font-size: 1.4rem;
          margin: 0px;
          margin-top: 5px;
          color: $main-text;
        }
        .detail-desc {
          margin-top: 12px;
          font-size: 1.3rem;
          width: 50%;
          text-transform: capitalize;
          max-height: 76px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .eventos-arrow-forward {
          position: absolute;
          right: 20px;
          bottom: 30px;
          border-radius: 100px;
          background: $theme-color-2;
          color: $white;
          margin: 0px;
          height: 45px;
          width: 45px;
        }
      }
    }
    .detail-action {
      div {
        display: inline-table;
        width: 49%;
        padding: 24px;
        text-align: center;

        img {
          width: 90%;
        }

        p {
          color: $theme-color-2;
          font-size: 1.5rem;
        }
      }

    }
  }

}
