@mixin info-list-view(){
  ion-content {
    background: #ebebeb !important;
    .card-content {
      .row {
        margin: 12px;
        p {
          width: 100%;
          color: $main-text;
          font-size: 1.3rem;
          margin-bottom: 14px;
        }
        .product-title {
          font-size: 1.8rem;
          color: $theme-color-2;
          font-weight: bold;
          margin-bottom: 0px;
          text-transform: capitalize;
        }
        .product-subtitle {
          font-size: 1.5rem;
          color: $theme-color-2;
          margin-bottom: 0px;
          text-transform: uppercase;
        }
      }
      .contact-row {
        p {
          width: 100%;
          color: $main-text;
          font-size: 1.3rem;
          margin-bottom: 0px;
        }
      }
      #map {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 150px;
      }
    }
  }
  .event-info-footer {
    height: 45px;
    .button {
      height: 40px;
      background: #00aeef;
      .button-inner {
        line-height: 39px;

      }
    }
  }

}
