@mixin segment-toolbar(){
  .segment-toolbar {
    align-items: flex-end;
    min-height: 0px;
    background: $white;
    overflow-x: auto;
    .toolbar-content {
      .list {
        margin: 0px;
        border-bottom: 1px solid #dedede;
        .item {
          width: 40%;
          display: inline-block;
          text-align: center;
          padding: 0px;
          .item-inner {
            padding: 0px;
            border-bottom: 0px solid #dedede;
          }
          .label {
            margin: 0px;
            color: $theme-color-2;
            text-transform: uppercase;
          }
          ion-datetime {
            padding: 0px;
            height: 30px;
            border: 1px solid #dedede;
            padding-top: 5px;
          }
        }
      }
    }
    .segment {
      //border-top: 1px solid #eee;
      border-left: 1px solid #eee;
      max-width: 1000px;
      min-width: 100%;
      display: flex;
      ///* flex: initial; */
      align-items: flex-start;
      justify-content: flex-start;
      width: auto !important;
      .segment-button {
        border-top: 1px solid #eee;
        display: inline-block;
        color: #000;
        height: 3.2rem;
        line-height: 3rem;
        font-size: 1.3rem;
        min-width: 70px;
        border-right: 1px solid #eee;
        max-width: 100%;
      }
      .segment-button.segment-activated {
        border-right: 1px solid #eee;
        border-bottom: 2px solid $theme-color-2;
        color: $theme-color-2;
        opacity: 1;
      }
    }
  }
}
