ion-menu {
	.menu-content
	{
		background-color: $white;
	}
  .menu-header {
    ion-navbar {
      .button-clear {
        color: $theme-color-2;
      }
      .toolbar-background{
        background: transparent;
      }
    }
  }

	.menu-list
	{

		.item
		{
			background-color: $white;
			padding-right: 32px;
      height: 42px;
      font-family: 'uni_sans_regularregular';

			&:first-child
			{
				border-top: solid 1px rgba($white-d, 0.15);
			}

			&:last-child
			{
				border-bottom: solid 1px rgba($white-d, 0.15);
			}

			.item-inner
			{
				border-bottom: 1px solid rgba($white-d, 0.15);
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: 1px;
				color: $theme-color-3;
        text-transform: uppercase;
        h2 {
          display: inline-block;
          position: absolute;
          left: 58px;
          font-size: 15px;
        }
			}

			.item-icon
			{
				color: $theme-color-2;
				font-size: 3.4rem;
			}

			&.activated
			{
  			background-color: $theme-color-1;
  			transition-duration: 0ms;

				.item-inner
				{
					color: $white;
				}

				.item-icon
				{
					color: $white;
				}
			}
		}
	}
}
