@mixin top-image-list(){

  ion-content {
    .eventos-item {
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-top: 1px;
      padding: 10px 0px;
      .image-container {
        text-align: left;
        padding-left: 24px;
        img {
          height: 64px;
        }
      }
      .eventos-item-content {
        position: relative;
        padding-left: 22px;
        text-transform: uppercase;
        h2 {
          font-size: 1.6rem;
          margin: 10px 0px 0px 0px;
          font-weight: bold;
        }
        p {
          font-size: 1.4rem;
          margin: 0px;
          margin-top: 5px;
          color: $main-text;
        }
        .eventos-arrow-forward {
          position: absolute;
          right: 10px;
          bottom: 5px;
          border-radius: 100px;
          background: $theme-color-2;
          color: $white;
          margin: 0px;
          height: 42px;
          width: 42px;
        }
      }
    }
  }

}
