@mixin top-image-header(){

  .logo-header
  {
    ion-navbar {
      height: 85px;
      .logo-header-menu-toggle {
        color: $theme-color-2;
        font-size: 20px;
        ion-icon {
          font-size: 3.5rem;
        }
      }
      .title-ios {
        padding: 0px 10px;
      }
      .toolbar-background{
        background: transparent;
        border: none;
      }
      .header-logo {
        text-align: left;
        img {
          margin-top: 20px;
          height: 65px;
        }
      }
      .toolbar-title-ios {
        .header-logo {
          img {
            margin-top: 34px;
          }
        }
      }
      .bar-buttons{
        .ion-ios-home {
          color: $theme-color-2;
        }
      }
    }

    .eventos-toolbar {
      height: 35px;
      min-height: 35px;
      .toolbar-background {
        background: $theme-color-2;
      }
      .button {
        color: $white;
      }
      .eventos-toolbar-title {
        color: $white;
        position: absolute;
        height: 35px;
        right: 0px;
        top: 0px;
        text-align: right;
        line-height: 35px;
        padding-right: 16px;
        text-transform: uppercase;
      }

    }
  }
  .header-ios {
    .nav-header-logo {
      height: 100px !important;
      text-align: left;
    }
  }

}
