<ion-header class="logo-header" no-border no-padding mode="ios">
  <ion-navbar color="light" class="nav-header-logo">
    <button ion-button menuToggle end class="logo-header-menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="header-logo">
        <img src="./assets/images/header-logo.png"/>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="home-vertical-center" *ngIf="isLoadContent">
    <ion-row class="intro-image-row" (click)="gotoPage('science')" text-center [class.margintop]="!isEvent">
      <div class="image-intro-con">
        <img [src]="(selectPage.science)?'./assets/images/home/congresso-hover.png':'./assets/images/home/congresso.png'"/>
      </div>
      <p>ATIVIDADES CIENTÍFICAS</p>
    </ion-row>
    <ion-row class="intro-image-row" (click)="gotoPage('eventos')" text-center *ngIf="isEvent">
      <div class="image-intro-con" >
        <img [src]="(selectPage.eventos)?'./assets/images/home/evento-hover.png':'./assets/images/home/evento.png'"/>
      </div>
      <p>EVENTOS ALLERGAN</p>
    </ion-row>
    <ion-row class="intro-image-row" (click)="gotoPage('videos')" text-center>
      <div class="image-intro-con">
        <img [src]="(selectPage.videos)?'./assets/images/home/bibioteca-hover.png':'./assets/images/home/bibioteca.png'"/>
      </div>
      <p>VÍDEOS E TREINAMENTOS</p>
    </ion-row>
  </div>
</ion-content>
