page-home {
  font-family: 'uni_sans_regularregular';
  @include top-image-header();
  ion-content {
    .home-vertical-center {
      /* display: table-cell; */
      /* margin: auto; */
      position: absolute;
      top: 50%;
      transform: translateY(-52%);
    }
    .intro-image-row {
      @include justify-content(center);
      margin-top: 20px;
      .image-intro-con {
        width: 100%;
        img {
          width: 25%;
        }
      }
      p {
        color: $theme-color-2;
        margin: 10px;
      }
      &.margintop{
        position: relative;
        top: -35px;
      }
    }
  }
}
