<!--
  Generated template for the Product page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>ALLERGAN E PRODUTOS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="slider-show" [ngClass]="{'slider-hide': isScroll }">
    <img src="./assets/images/sim-logo.png">
  </ion-toolbar>
  <ion-toolbar class="segment-toolbar" no-padding>
    <ion-segment mode="md">
      <ion-segment-button value="Allergan" (click)="scrollTo('Allergan')">
        Allergan
      </ion-segment-button>
      <ion-segment-button value="Botox" (click)="scrollTo('Botox')">
        Botox®
      </ion-segment-button>
      <ion-segment-button value="Juvederm" (click)="scrollTo('Juvederm')">
        Juvederm®
      </ion-segment-button>
      <ion-segment-button value="Latisse" (click)="scrollTo('Latisse')">
        Latisse®
      </ion-segment-button>
      <ion-segment-button value="Natrelle" (click)="scrollTo('Natrelle')">
        Natrelle®
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content (ionScroll)="scrollChange()">
  <ion-card id="Allergan">
    <ion-card-content>
      <ion-row>
        <p class="product-title">Allergan</p>
        <!--<p class="product-subtitle">xxxxxxxxxx</p>-->
      </ion-row>
      <ion-row>
        <p>Presente em aproximadamente 100 países, a Allergan é focada no desenvolvimento, na fabricação e na comercialização medicamentos sob prescrição e isentos de prescrição, produtos biológicos e produtos para saúde.</p>
        <p>Líder em Open Science, modelo de P&D (Pesquisa & Desenvolvimento) da empresa, que identifica o cenário e desenvolve ideias para mudar e inovar o atendimento ao paciente, a Allergan construiu um dos pipelines mais amplos da indústria farmacêutica, com mais de 70 produtos em estágios intermediários e finais de desenvolvimento.</p>
        <p>O sucesso da Allergan é impulsionado pelo compromisso dos mais de 16 mil colaboradores em todo o mundo, que, juntos, constroem pontes, impulsionam ideias, agem rápido e obtém resultados.</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card id="Botox">
    <ion-card-content>
      <ion-row>
        <p class="product-title">Botox®</p>
        <!--<p class="product-subtitle">xxxxxxxxxx</p>-->
      </ion-row>
      <ion-row>
        <p>É a toxina botulínica A da Allergan, com mais de 20 anos de história, mais de 2.800 artigos científicos publicados e presente em mais de 80 países, BOTOX® se consolida como a toxina botulínica A mais estudada e utilizada no mundo. <sup>1,2,3</sup>.</p>
        <p>Referencias:</p>
        <p>1.Pesquisa através de http://www.ncbi.nlm.nih.gov/pubmed/ em 12/11/2015: Web PubMed BOTOX e Web PubMed BOTOX + cosmetic. </p>
        <p>2. Trindade de Almeida AR et al. Dermatol Surg. 2007;33;S37-S43.</p>
        <p>3. Cliff SH et al. J Cosmet Dermtol 2008; 7(1): 50.</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card id="Juvederm">
    <ion-card-content>
      <ion-row>
        <p class="product-title">Juvederm®</p>
        <!--<p class="product-subtitle">xxxxxxxxxx</p>-->
      </ion-row>
      <ion-row>
        <p>JUVÉDERM® é a linha de Preenchedores Faciais da Allergan desenvolvida para o tratamento de rugas estáticas como sulcos e rugas profundas, além do tratamento para reposição de volume e contorno facial.</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card id="Latisse">
    <ion-card-content>
      <ion-row>
        <p class="product-title">Latisse®</p>
        <!--<p class="product-subtitle">xxxxxxxxxx</p>-->
      </ion-row>
      <ion-row>
        <p>Medicamento indicado para o tratamento da hipotricose ciliar. Atua no ciclo natural de crescimento dos cílios e proporciona uma verdadeira mudança em espessura, longitude e cor. <sup>1,2</sup>.</p>
        <p>1. Law SK. Bimatoprost in the treatment of eyelash hypotrichosis. Clinical Ophthalmology 2010:4, 349-358.</p>
        <p>2. Jones D. Enhanced Eyelashes: Prescription and Over-the-Counter Options. Aesth Plast Surg 2010.</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card id="Natrelle">
    <ion-card-content>
      <ion-row>
        <p class="product-title">Natrelle®</p>
        <!--<p class="product-subtitle">xxxxxxxxxx</p>-->
      </ion-row>
      <ion-row>
        <p>Uma ampla linha de implantes mamários da Allergan com mais de 600 diferentes tamanhos e formatos de próteses. Saiba mais em:  www.natrelle.com.br</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
