<ion-header class="walkthrough-header">
  <!--<ion-toolbar>-->
    <!--<ion-buttons end>-->
      <!--<button ion-button class="skip-button" (click)="skipIntro()">Skip</button>-->
    <!--</ion-buttons>-->
  <!--</ion-toolbar>-->
</ion-header>

<ion-content class="walkthrough-content">
  <ion-slides #slider (ionDidChange)="onSlideChanged()" [options]="slide_options" pager>
    <ion-slide class="slide-item slide-1">
      <ion-row class="intro-image-row">
        <ion-col center width-64 no-padding>
          <preload-image [ratio]="{w:3, h:1}" src="./assets/images/slide-1.png" alt="app logo"
                         title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide class="slide-item slide-2">
      <p class="intro-text">
        FIQUE POR DENTRO DE TODOS OS
      </p>
      <ion-row class="intro-image-row">
        <ion-col center width-25 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-2-img.png" alt="slide 2 img"
                         title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <p class="intro-text">
        EVENTOS ALLERGAN
      </p>
    </ion-slide>
    <ion-slide class="slide-item slide-3">
      <p class="intro-text">
        FIQUE POR DENTRO DE TODOS OS
      </p>
      <ion-row class="intro-image-row">
        <ion-col center width-25 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-3-img.png" alt="slide 3 img"
                         title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <p class="intro-text">
        CONGRESSOS
      </p>
    </ion-slide>
    <ion-slide class="slide-item slide-4">
      <p class="intro-text">
        E ACESSE A BIBLIOTECA DE MATERIAIS CIENTÍFICOS
      </p>
      <ion-row class="intro-image-row">
        <ion-col center width-25 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-4-img.png" alt="slide 4 img"
                         title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <p class="intro-text">
        EXCLUSIVA PARA CONVIDADOS OU CADASTRADOS NOS NOSSOS EVENTOS
      </p>

    </ion-slide>
    <ion-slide class="slide-item slide-5">
      <p class="intro-text">
        INSCREVA-SE
      </p>
      <ion-row class="intro-image-row">
        <ion-col center width-25 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-5.png" alt="slide 4 img"
                         title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <p class="intro-text">
        PARTICIPE DOS  NOSSOS EVENTOS
      </p>
      <p class="intro-bottom-text">
        BR/0213/2017 – Maio 2017
      </p>
    </ion-slide>
  </ion-slides>
  <div class="button-bar">

  </div>
</ion-content>
<ion-footer class="auth-footer">
  <ion-toolbar>
    <button ion-button clear (click)="goToLogin()">ENTRAR</button>
    <button ion-button clear (click)="goToSignup()">INSCREVA-SE</button>
  </ion-toolbar>
</ion-footer>
