<!--
  Generated template for the EnqueteList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>ENQUETE</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="slider-show" [ngClass]="{'slider-hide': isScroll }">
    <img src="./assets/images/sim-logo.png">
  </ion-toolbar>

</ion-header>


<ion-content (ionScroll)="scrollChange()">
  <div *ngFor="let group of data|ToArrayList">
    <div class="enquete-item-divider" no-padding>{{getValidTimeRange(group.val.avaliable_time)}}</div>
    <div class="data-main-title">TÍTULO DA PALESTRA</div>
    <div class="data-sub-title">
      <span>PALESTRANTE: </span>
      Dr. fklsfjsdkfsfjfsldfj jf, Dr. Johns fkjsdf dsfkl
    </div>

    <ion-card (click)="gotoEnquet(group.key, i)" *ngFor="let content of group.val.content; let i = index">
      <ion-card-content>
        <ion-row>
          <div>
            <ion-icon name="ios-arrow-forward" item-left></ion-icon>
            {{content.title}}
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
