page-enquete-list {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles($white, $theme-color-2);
  @include animation-hide-header();
  .sim-logo-header {
    ion-navbar {
      .logo-header-menu-toggle {
        color: $theme-color-2;
        font-size: 20px;
        ion-icon {
          font-size: 3.5rem;
        }
      }
    }
    .toolbar {
      .toolbar-content {
        img {
          width: 53%;
          margin: 10px;
        }
      }
    }
  }

  @include segment-toolbar();
  @include collapse-list();
  ion-content {
    .enquete-item-divider {
      color: $theme-color-2;
      padding: 10px;
      background: $white;
      font-weight: bold;
    }
    .data-main-title {
      background: transparent;
      width: 100%;
      padding:10px 20px;
      color: $theme-color-2;
      font-size: 1.3rem;
      margin-top: 7px;
      font-weight: bold;
    }

    .data-sub-title {
      background: transparent;
      width: 100%;
      padding:10px 20px;
      color: $black;
      font-size: 1.2rem;
      margin-top: 7px;
      span {
        color: $theme-color-2;
        font-weight: bold;
      }
    }

    .card {
      position: relative;
      .card-content {
        div {
          position: relative;
          padding: 10px 10px 10px 40px;
          color: $main-text;
          .icon {
            position: absolute;
            top: 6px;
            left: 3px;
            font-size: 2.8rem;
            color: $theme-color-2;
          }
        }
        .card-title {
          color: $black;
          font-weight: bold;
          .line-number {
            padding: 0px;
            top: 10px;
            color: $theme-color-2;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .auth-footer {
    .toolbar {
      .button {
        font-weight: bold;
      }
      .enquete-footer-next {
        color: $theme-color-2 !important;
      }
    }
  }
}
