page-travel-agency {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles($white, $theme-color-2);
  @include animation-hide-header();
  .sim-logo-header
  {
    ion-navbar {
      .logo-header-menu-toggle {
        color: $theme-color-2;
        font-size: 20px;
        ion-icon {
          font-size: 3.5rem;
        }
      }
    }
    .toolbar {
      .toolbar-content {
        img {
          width: 53%;
          margin: 10px;
        }
      }
    }
  }

  @include segment-toolbar();

  ion-content {
    background: #ebebeb !important;
    .card-content {
      color: #6d6d6d;
      .row {
        margin: 0px 0px 12px 0px;
        p {
          width: 100%;
          color: $main-text;
          font-size: 1.3rem;
        }
        .product-title {
          font-size: 1.5rem;
          color: $theme-color-2;
          font-weight: bold;
          margin-bottom: 0px;
          text-transform: uppercase;
        }
        .product-subtitle {
          font-size: 1.5rem;
          color: $theme-color-2;
          margin-bottom: 10px;
        }
        .bold-nomal-text {
          font-weight: bold;
          font-size: 1.5rem;
          color: $black-b;
        }
        .bold-small-text {
          font-weight: bold;
          font-size: 1.2rem;
          color: $black-b;
        }
        #map {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 150px;
        }
      }
    }
  }
}
