<!--
  Generated template for the TravelAgency page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the Product page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>ALLERGAN E PRODUTOS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="slider-show" [ngClass]="{'slider-hide': isScroll }">
    <img src="./assets/images/sim-logo.png">
  </ion-toolbar>
  <ion-toolbar class="segment-toolbar" no-padding *ngIf="data">
    <ion-segment mode="md">
      <ion-segment-button value="contact" (click)="scrollTo('contact')" *ngIf="data.agency_info">
        CONTATOS
      </ion-segment-button>
      <ion-segment-button value="hotel" (click)="scrollTo('hotel')" *ngIf="data.hotel_info">
        HOTEL
      </ion-segment-button>
      <ion-segment-button value="passagem" (click)="scrollTo('passagem')" *ngIf="data.airticket_info">
        PASSAGEM
      </ion-segment-button>
      <ion-segment-button value="Latisse" (click)="scrollTo('receipt')" *ngIf="data.trasfer_info">
        RECEPTIVO
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content (ionScroll)="scrollChange()">

  <ion-card id="contact" class="travel-contact">
    <ion-card-content>
      <ion-row>
        <p class="product-title">CONTATOS</p>
      </ion-row>
      <div *ngIf="data">
        <div [innerHTML]="data.agency_info | safeHtml" *ngIf="data.agency_info"></div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card id="hotel" class="travel-hotel">
    <ion-card-content>
      <ion-row>
        <p class="product-title">HOTEL</p>
      </ion-row>
      <div *ngIf="data">
        <div [innerHTML]="data.hotel_info.detail | safeHtml" *ngIf="data.hotel_info"></div>
      </div>
      <ion-row>
        <div #map id="map"></div>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card id="passagem" class="travel-passagem">
    <ion-card-content>
      <ion-row>
        <p class="product-title">PASSAGEM</p>
      </ion-row>
      <div *ngIf="data">
        <div [innerHTML]="data.airticket_info | safeHtml" *ngIf="data.airticket_info"></div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card id="receipt" class="travel-receipt">
    <ion-card-content>
      <ion-row>
        <p class="product-title">RECEPTIVO</p>
      </ion-row>
      <div *ngIf="data">
        <div [innerHTML]="data.trasfer_info | safeHtml" *ngIf="data.trasfer_info"></div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

