<ion-menu side="right" [content]="content" [swipeEnabled]="false">
  <ion-header class="menu-header" no-border>
    <ion-navbar color="light">
      <button ion-button menuClose clear icon-left>
        <ion-icon name="ios-arrow-back-outline"></ion-icon> VOLTAR
      </button>
    </ion-navbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list class="menu-list">
      <button ion-item detail-none icon-left *ngFor="let page of pages" (click)="openPage(page)">
        <img *ngIf="page.icon" [src]="page.icon" [width]="page.size || 25"/>
        <h2>{{page.title}}</h2>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
