terms-of-service-page {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles($white, $theme-color-2);
  .sim-logo-header
  {
    ion-navbar {
      .logo-header-menu-toggle {
        color: $theme-color-2;
        font-size: 20px;
        ion-icon {
          font-size: 3.5rem;
        }
      }
    }
    .toolbar {
      .toolbar-content {
        img {
          width: 53%;
          margin: 10px;
        }
      }
    }
  }
  ion-content {
    background: #ebebeb !important;
    .card-content {
      .row {
        margin: 20px;
        p {
          width: 100%;
          color: $main-text;
        }
      }
    }
  }

}
