<!--
  Generated template for the ScienceInfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>DETALHE DA MENSAGEM</ion-title>
    <!--<ion-buttons end>-->
    <!--<button ion-button class="logo-header-menu-toggle">-->
    <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>


<ion-content (ionScroll)="scrollChange()">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <p class="product-title">{{data.title}}</p>
      </ion-row>
      <ion-row>
        <p>{{data.body}}</p>
      </ion-row>

      <img [src]="getSafeUrl(data.icon)" *ngIf="data.icon">
    </ion-card-content>
  </ion-card>
</ion-content>

