page-messages {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles($white, $theme-color-2);

  ion-content {
    background: #ebebeb !important;
    .item {
      ion-avatar {
        img {
          width: 40px;
          height: 50px;
          border-radius: 0px;
        }
      }
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.5rem;
        color: $main-text;
      }
      .icon {
        color: $theme-color-2;
      }
    }
    .not-confirmed-notification {
      .badge {
        background: #ff9600;
        padding: 0px;
        width: 5px;
        height: 10px;
        border-radius: 10px;
      }
      h1 {
        font-weight: bolder;
      }
    }
  }
}

page-message-detail {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles($white, $theme-color-2);
  @include animation-hide-header();
  .sim-logo-header
  {
    ion-navbar {
      .logo-header-menu-toggle {
        color: $theme-color-2;
        font-size: 20px;
        ion-icon {
          font-size: 3.5rem;
        }
      }
    }
    .toolbar {
      .toolbar-content {
        img {
          max-width: 53%;
          max-height: 55px;
          margin: 10px;
        }
      }
    }
  }
  ion-card img {
    display: block;
    max-width: 100%;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
  }
  @include info-list-view();
}
