<!--
  Generated template for the Messages page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>MENSAGENS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="goToNotificationPage(item)" *ngFor="let item of data" [ngClass]="{'not-confirmed-notification': !item.confirmed}">
      <ion-badge item-right *ngIf="!item.confirmed">&nbsp;</ion-badge>
      <ion-avatar item-left>
        <img [src]="item.icon || './assets/images/message-avatar.png'">
      </ion-avatar>
      <h1>{{item.title}}</h1>
      <p>{{item.body}}</p>
      <p>{{getValidTimeRange(item.send_date)}}</p>
    </ion-item>
  </ion-list>
</ion-content>
