<!--
  Generated template for the EventEnquet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>ENQUETE</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="slider-show" [ngClass]="{'slider-hide': isScroll }">
    <img src="./assets/images/sim-logo.png">
  </ion-toolbar>
</ion-header>


<ion-content (ionScroll)="scrollChange()">
  <div *ngIf="data">
    <div class="enquete-item-divider" no-padding>{{getValidTimeRange(lecture.startTime, lecture.duration)}}</div>
    <div class="data-main-title">{{lecture.name}}</div>
    <!--<div class="data-sub-title">-->
      <!--<span>PALESTRANTE: </span>-->
      <!--Dr. fklsfjsdkfsfjfsldfj jf, Dr. Johns fkjsdf dsfkl-->
    <!--</div>-->
    <div *ngFor="let item of data; let i = index">
      <ion-card *ngIf="i === currentIndex">
        <ion-card-content>
          <ion-row>
            <div class="card-title">
              <div class="icon line-number">{{i + 1}}.</div>
              {{item.quetion_content}}
            </div>
            <div class="answers-content" *ngIf="answers">
              <div *ngFor="let answer of item.answers; let j = index" (click)="changeCheckStatue(answer, item)">
                <div *ngIf="item.is_single" class="checkbox-container">
                  <ion-icon name="ios-radio-button-off" *ngIf="!getUnswerStatus(answer)" item-left></ion-icon>
                  <ion-icon name="ios-checkmark-circle-outline" *ngIf="getUnswerStatus(answer)" item-left></ion-icon>
                </div>
                <div *ngIf="!item.is_single" class="checkbox-container">
                  <ion-icon name="ios-square-outline" *ngIf="!getUnswerStatus(answer)" item-left></ion-icon>
                  <ion-icon name="ios-checkbox-outline" *ngIf="getUnswerStatus(answer)" item-left></ion-icon>
                </div>
                {{answer.desc}}
              </div>
            </div>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>


</ion-content>

<ion-footer class="auth-footer">
  <ion-toolbar *ngIf="data">
    <button ion-button clear class="enquete-footer-back" (click)="previous()">{{getPrevTitle()}}</button>
    <button ion-button clear class="enquete-footer-next" (click)="next()">{{getNextTitle()}}</button>
  </ion-toolbar>
</ion-footer>
