<ion-header class="logo-header" no-border no-padding>
  <ion-navbar color="light" hideBackButton class="nav-header-logo">
    <ion-title>
      <div class="header-logo">
        <img src="./assets/images/header-logo.png"/>
      </div>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="eventos-toolbar">
    <button ion-button clear icon-left (click)="navCtrl.pop()">
      <ion-icon name="ios-arrow-back"></ion-icon> VOLTAR
    </button>
    <div class="eventos-toolbar-title">ATIVIDADES CIENTÍFICAS</div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="congressesData">
    <div class="eventos-item" (click)="goToDetail(item)" *ngFor="let item of congressesData">
      <div class="image-container">
        <img [src]="item.logo">
      </div>
      <div class="eventos-item-content">
        <h2>{{item.name}}</h2>
        <duration-label [start]="item.start_time" [end]="item.end_time"></duration-label>
        <p>{{item.location.address}}</p>
        <button ion-button icon-only class="eventos-arrow-forward">
          <ion-icon name="md-arrow-forward"></ion-icon>
        </button>
      </div>
    </div>
  </ion-list>
</ion-content>
