<!--
  Generated template for the SpeakerDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>{{data.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="segment-toolbar" no-padding *ngIf="data && associateLectures">
    <ion-segment mode="md" [(ngModel)]="currentindex">
      <ion-segment-button [value]="i" *ngFor="let headeritem of associateLectures | ToArrayList; let i = index" (click)="goToSlide(i, headeritem.key)">
        {{getDateString(headeritem.key)}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="data">
    <ion-card-content>
      <ion-row>
        <div class="profile-pic">
          <img [src]="getSafeUrl(data.photo)"/>
          <p>{{data.name}}</p>
        </div>
      </ion-row>
      <ion-row>
        <p>{{data.desc}}</p>
      </ion-row>
      <div *ngIf="associateLectures">
        <ion-slides (ionSlideDidChange)="slideChanged()">
          <ion-slide *ngFor="let item of associateLectures | ToArrayList">
            <div *ngFor="let lecture of item.val">
              <div class="lecture-list" (click)="goToLectureDetial(lecture)">
                <ion-row>
                  <p class="product-title">{{getTimeString(lecture.startTime)}}</p>
                  <p class="product-subtitle"> {{lecture.name}}</p>
                </ion-row>
                <button ion-button icon-only class="eventos-arrow-forward">
                  <ion-icon name="md-arrow-forward"></ion-icon>
                </button>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
