page-speaker-detail {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles($white, $theme-color-2);
  @include animation-hide-header();
  .sim-logo-header {
    ion-navbar {
      .logo-header-menu-toggle {
        color: $theme-color-2;
        font-size: 20px;
        ion-icon {
          font-size: 3.5rem;
        }
      }
    }
    .toolbar {
      .toolbar-content {
        img {
          width: 53%;
          margin: 10px;
        }
      }
    }
  }

  @include segment-toolbar();

  @include collapse-list();
  .card {
    position: relative;
    .profile-pic {
      width: 100%;
      text-align: center;
      img {
        width: 80px;
        border-radius: 80px;
        display: inline-table;
      }
      p {
        width: 100%;
        display: block;
        color: #777 !important;
      }
    }
    .lecture-list {
      position: relative;
      width: 100%;
      text-align: left;
      .eventos-arrow-forward {
        position: absolute;
        right: 10px;
        top: 0px;
        border-radius: 100px;
        background: #7f3f98 !important;
        margin: 0px !important;
        height: 34px !important;
        width: 34px !important;
        .button-inner {
          color: $white !important;
        }
      }
    }

  }
}
