<!--
  Generated template for the FileModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content fullscreen="true">
  <div class="display-content">
    <button ion-button icon-only clear (click)="dismiss()" class="close-btn">
      <ion-icon name="ios-close"></ion-icon>
    </button>
    <img [src]="data.file" *ngIf="data.type==='image/jpeg'"/>
    <iframe [src]="getVimeoUrl(data.file)" *ngIf="data.type==='video/mp4' && data.file" frameborder='0' webkitallowfullscreen='' mozallowfullscreen='' allowfullscreen=''></iframe>
  </div>
</ion-content>
