page-videos-list {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles($white, $theme-color-2);
  @include animation-hide-header();
  @include segment-toolbar();
  @include collapse-list();
  .sim-logo-header {
    ion-navbar {
      .logo-header-menu-toggle {
        color: $theme-color-2;
        font-size: 20px;
        ion-icon {
          font-size: 3.5rem;
        }
      }
    }
    .toolbar {
      .toolbar-content {
        img {
          width: 53%;
          margin: 10px;
        }
      }

      &.segment-toolbar{
        border-top: solid 1px #eee;
        .left-col{
          border-right: solid 1px #eee;
        }
        .select.filter-select{
          width: 100%;
          max-width: 100%;
        }

        .filter_tile{
          color: #7f3f98;
        }

      }
    }
  }

  ion-content {
    .searchcount{
      color: #848181;
      padding-bottom: 0px !important;
    }
    .list {
      padding: 15px;
      .item{
        h1 {
          color: $black;
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: bold;
        }
        p {
          color: $main-text;
        }
        ion-icon {
          color: $theme-color-2;
        }
      }
    }
  }
}
