<!--
  Generated template for the VideosList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>VÍDEOS E TREINAMENTOS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="slider-show" [ngClass]="{'slider-hide': isScroll }">
    <img src="./assets/images/header-logo.png">
  </ion-toolbar>

  <!--<ion-toolbar class="segment-toolbar" no-padding>-->
    <!--<ion-segment mode="md">-->
      <!--<ion-segment-button value="feb">-->
        <!--FILTRO-->
      <!--</ion-segment-button>-->
      <!--<ion-segment-button value="mar">-->
        <!--Busca-->
      <!--</ion-segment-button>-->
    <!--</ion-segment>-->
  <!--</ion-toolbar>-->

  <ion-toolbar class="segment-toolbar" no-padding>
    <ion-row>
      <ion-col width-50 center  no-padding class="left-col">
        <ion-row>
          <ion-col width-40 center  no-padding>
            <span class="filter_tile">FILTRO</span>
          </ion-col>
          <ion-col width-60 center  no-padding>
            <ion-select class="filter-select" placeholder="SELECIONE" [(ngModel)]="searchType" (ngModelChange)="onChangeSearchInput()" multiple="true">
              <ion-option value="application/pdf">Pdf</ion-option>
              <ion-option value="video/mp4">Video</ion-option>
              <ion-option value="image/jpeg">Image</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-50 no-padding class="right-col">
        <ion-searchbar
          [placeholder] = "'Busca'"
          [(ngModel)]="searchInput"
          [showCancelButton]="false"
          (ionInput)="onChangeSearchInput($event)"
          (ionCancel)="onChangeSearchInput($event)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content (ionScroll)="scrollChange()">
  <div class="list searchcount" *ngIf="data && searchInput">
    Foram encontradas {{data.length}} arquivos com a palavra “{{searchInput}}”
  </div>

  <ion-list *ngIf="data">
    <div *ngFor="let content of data.slice().reverse(); let i = index">
      <ion-item  (click)="gotoMaterial(content)">
        <ion-icon name="logo-youtube" item-left *ngIf="content.type.search('video') > -1"></ion-icon>
        <ion-icon name="ios-image" item-left *ngIf="content.type.search('image') > -1"></ion-icon>
        <ion-icon name="ios-download" item-left *ngIf="content.type.search('image') < 0 && content.type.search('video')"></ion-icon>
        <h1>{{content.filename}}</h1>
        <p>{{content.desc}}</p>
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
