<!--
  Generated template for the Promotion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content fullscreen="true">
  <div class="display-content">
    <button ion-button icon-only clear (click)="dismiss()">
      <ion-icon name="ios-close"></ion-icon>
    </button>

    <a (click)="goToLink(data?.link)">
      <img [src]="data.photo" *ngIf="data"/>
    </a>
  </div>
</ion-content>
