page-promotion {
  ion-content{
    background: $black !important;
    .display-content {
      height: 100vh;
      width: 100%;
      position: relative;

      button {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.7rem;
        color: $white;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }
  }
}
