<!--
  Generated template for the Programing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="sim-logo-header" no-border mode="ios">
  <ion-navbar color="light">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="slider-show" [ngClass]="{'slider-hide': isScroll }">
    <img src="./assets/images/sim-logo.png">
  </ion-toolbar>
  <ion-toolbar class="segment-toolbar" no-padding *ngIf="data">
    <ion-segment mode="md" [(ngModel)]="currentindex">
      <ion-segment-button [value]="i" *ngFor="let headeritem of data | ToArrayList; let i = index" (click)="goToSlide(i, headeritem.key)">
        {{getDateString(headeritem.key)}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content (ionScroll)="scrollChange();">
  <div class="data-title">PROGRAMAÇÃO DO DIA {{getDateString(currentDate)}}</div>
  <div *ngIf="data">
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let item of data | ToArrayList">
        <ion-card *ngFor="let lecture of item.val">
          <ion-card-content>
            <ion-row>
              <p class="product-title">{{getTimeString(lecture.startTime)}}-{{getEndTimeString(lecture.startTime, lecture.duration)}}</p>
              <p class="product-subtitle">{{lecture.name}}</p>

              <span class="eventos-add-btn-text" *ngIf="setedSim[lecture.$key]">
                INSCRIÇÃO CONFIRMADA COM SUCESSO
              </span>

              <button ion-button icon-only class="eventos-add-btn" [ngClass]="{'eventos-sim-btn': simObj[lecture.$key], 'eventos-add-btn': !simObj[lecture.$key]}" (click)="setSim(lecture)" *ngIf="eventType=='congress'">
                <ion-icon [name]="(!simObj[lecture.$key])?'ios-add':'ios-checkmark'"></ion-icon>
              </button>

            </ion-row>
            <ion-row>
              <p>{{lecture.desc}}</p>
            </ion-row>
            <div class="slider-content-show" [ngClass]="{'slider-content-hide': !collapseObj[lecture.$key] }">
              <div class="program-divider user-devider" *ngIf="lecture.speakers">palestrantes</div>
              <div class="users-content" *ngIf="lecture.speakers">
                <div class="user-item" *ngFor="let speaker of lecture.speakers">
                  <ion-item (click)="gotoUsersList(speaker, lecture.event_id)">
                    <ion-avatar item-left>
                      <img [src]="getSafeUrl(speaker.photo)">
                    </ion-avatar>
                    <h2>{{speaker.name}}</h2>
                    <ion-icon name="ios-arrow-forward" item-right></ion-icon>
                  </ion-item>
                </div>

                <div *ngIf="lecture.materials">
                  <div class="program-divider">Material para download</div>
                  <ion-item *ngFor="let material of lecture.materials" (click)="goToDownload(material)">
                    <ion-icon name="ios-download-outline" item-left></ion-icon>
                    {{material.filename}}
                  </ion-item>
                </div>

                <div *ngIf="lecture.polls">
                  <div class="program-divider">Responda a enquete</div>
                  <ion-item *ngFor="let poll of lecture.polls; let ind = index" (click)="gotoEnquet(lecture.$key, poll)">
                    <ion-icon name="ios-chatboxes-outline" item-left></ion-icon>
                    {{poll.title}}
                  </ion-item>
                </div>


                <div>
                  <div class="program-divider">ENVIE A SUA PERGUNTA</div>
                  <ion-item *ngFor="let question of lecture.user_questions; let ind = index">
                  {{ind+1}}. {{question.content}}
                  </ion-item>
                  <ion-item >
                    <a name="" item-right (click)="createNewQuestion(lecture ,questions[lecture.$key])">ENVIAR</a>
                    <input class="question-input" type="text" [(ngModel)]="questions[lecture.$key]"/>
                  </ion-item>
                </div>

              </div>
            </div>
            <button ion-button full icon-only (click)="toggleContent(lecture.$key)">
              <ion-icon name="ios-arrow-down" *ngIf="!collapseObj[lecture.$key]"></ion-icon>
              <ion-icon name="ios-arrow-up" *ngIf="collapseObj[lecture.$key]"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
<div class="event-tooltip" (click)="hideTooltip()" *ngIf="isTooltipe && eventType=='congress'">
  <div class="tooltip-overlay"></div>
  <img src="./assets/images/event-tooltip.png" />
</div>
