@include custom-alert();
page-programing {
  font-family: 'uni_sans_regularregular';
  @include custom-header-styles($white, $theme-color-2);
  @include animation-hide-header();
  @include animation-hide-content();
  @include segment-toolbar();
  @include collapse-list();


  .sim-logo-header
  {
    ion-navbar {
      .logo-header-menu-toggle {
        color: $theme-color-2;
        font-size: 20px;
        ion-icon {
          font-size: 3.5rem;
        }
      }
    }
    .toolbar {
      .toolbar-content {
        img {
          width: 53%;
          margin: 10px;
        }
      }
    }
  }
  input.question-input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .content-vertical-center {
    position: absolute;
    top: 22%;
    width: 100%;
    text-align: center;
    color: $main-text;
  }
}
.event-tooltip {
  width: 100%;
  height: 100vh;
  background: transparent;
  position: absolute;
  z-index: 1000;
  .tooltip-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.87);
  }
  img {
    position: absolute;
    z-index: 1001;
    top: 128px;
    left: 76px;
    width: 75%;
  }
}
.ios {
  .event-tooltip {
    img {
      top: 123px;
      left: 70px;
      width: 75%;
    }
  }
}

