page-path-map {
  ion-content{
    background: $black !important;
    .display-content {
      height: 100vh;
      width: 100%;
      position: relative;

      button {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.7rem;
        color: $white;
      }
      .display-body {
        position: absolute;
        width: 90%;
        height: 75vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $white;
        border-radius: 6px;

      }
    }
  }
}
