<ion-header class="logo-header" no-border mode="ios">
  <ion-navbar>
    <ion-title>
      CADASTRO
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="signup-content auth-content">
  <div class="profile-pic" (click)="chooseRes()">
    <img [src]="dataAvatar || './assets/images/blank_user.jpg'" />
  </div>

  <form class="signup-form auth-form" [formGroup]="signup" (submit)="onSubmit($event)">
    <ion-item [ngClass]="{'has-error':!signup.controls['name'].valid && (signup.controls['name'].dirty || error)}">
      <ion-label stacked>NOME</ion-label>
      <ion-input type="text" placeholder="" formControlName="name"></ion-input>
    </ion-item>

    <ion-item [ngClass]="{'has-error':!signup.controls['email'].valid && (signup.controls['email'].dirty || error)}">
      <ion-label stacked>E-MAIL</ion-label>
      <ion-input type="email" placeholder="" formControlName="email"></ion-input>
    </ion-item>
    <ion-row class="intro-select" *ngIf="ufData">
      <ion-col center width-66 no-padding>
        <ion-item [ngClass]="{'has-error':!signup.controls['crm'].valid && (signup.controls['crm'].dirty || error)}">
          <ion-label stacked>№ CRM</ion-label>
          <ion-input type="number" placeholder="" formControlName="crm"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col width-30 no-padding>
        <ion-item [ngClass]="{'has-error':!signup.controls['uf'].valid && (signup.controls['uf'].dirty || error)}">
          <ion-label stacked>UF</ion-label>
          <ion-select formControlName="uf" [selectedText]="Sigla">
            <ion-option [value]="city.ID" *ngFor="let city of ufData">{{city.Nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item [ngClass]="{'has-error':!signup.controls['speciality'].valid && (signup.controls['speciality'].dirty || error)}">
      <ion-label stacked>ESPECIALIDADE</ion-label>
      <ion-input type="text" placeholder="" formControlName="speciality"></ion-input>
    </ion-item>
    <ion-item [ngClass]="{'has-error':!signup.controls['city'].valid && (signup.controls['city'].dirty || error)}">
      <ion-label stacked>CIDADE</ion-label>
      <ion-input type="text" placeholder="" formControlName="city"></ion-input>
    </ion-item>


    <ion-row class="intro-select">
      <ion-col center width-66 no-padding>
        <ion-item [ngClass]="{'has-error':(!signup.controls['cpf'].valid || !cpfValid) && (signup.controls['cpf'].dirty || error)}">
          <ion-label stacked>CPF</ion-label>
          <ion-input type="number" placeholder="" formControlName="cpf" [change]="oncpfChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col width-30 no-padding>
        <ion-item [ngClass]="{'has-error':!signup.controls['gender'].valid && (signup.controls['gender'].dirty || error)}">
          <ion-label stacked>SEXO</ion-label>
          <ion-select formControlName="gender">
            <ion-option value="male">Masculino</ion-option>
            <ion-option value="female">Feminino</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item [ngClass]="{'has-error':!signup.controls['phonenumber'].valid && (signup.controls['phonenumber'].dirty || error)}">
      <ion-label stacked>Celular</ion-label>
      <ion-input type="tel" placeholder="" formControlName="phonenumber"></ion-input>
    </ion-item>
    <ion-item [ngClass]="{'has-error':!signup.controls['password'].valid && (signup.controls['password'].dirty || error)}">
      <ion-label stacked>SENHA</ion-label>
      <ion-input type="password" placeholder="" formControlName="password"></ion-input>
    </ion-item>
    <ion-item [ngClass]="{'has-error':!signup.controls['confirm_password'].valid && (signup.controls['confirm_password'].dirty || error)}">
      <ion-label stacked>REPETIR SENHA</ion-label>
      <ion-input type="password" placeholder="" formControlName="confirm_password"></ion-input>
    </ion-item>

    <ion-item class="accept-terms-row">
      <ion-label class="item-label">
        <a href="#" (click)="gotoTermsPage($event)">LI E ACEITO OS TERMOS DE USO</a>
      </ion-label>
      <ion-checkbox formControlName="confirm_terms_of_service" disabled="false"></ion-checkbox>
    </ion-item>

    <input type="submit" value="####" style="position: absolute;top:0px;left: -10000px;"/>
  </form>
  <div class="error" *ngIf="error">
    <p>{{error}}</p>
  </div>
</ion-content>
<ion-footer class="auth-footer">
  <ion-toolbar>
    <button ion-button clear (click)="doCancel()">CANCELAR</button>
    <button ion-button clear (click)="doSignUp()">FINALIZAR</button>
  </ion-toolbar>
</ion-footer>

