// Noto Sans Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html


@font-face {
  font-family: 'uni_sans_boldregular';
  src: url('#{$custom-font-path}/uni_sans_bold-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_bold_italicitalic';
  src: url('#{$custom-font-path}/uni_sans_bolditalic-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_bookregular';
  src: url('#{$custom-font-path}/uni_sans_book-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_book_italicitalic';
  src: url('#{$custom-font-path}/uni_sans_bookitalic-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_bookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_heavyregular';
  src: url('#{$custom-font-path}/uni_sans_heavy-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_heavy_italicitalic';
  src: url('#{$custom-font-path}/uni_sans_heavyitalic-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_heavyitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_lightregular';
  src: url('#{$custom-font-path}/uni_sans_light-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_light_italicitalic';
  src: url('#{$custom-font-path}/uni_sans_lightitalic-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_regularregular';
  src: url('#{$custom-font-path}/uni_sans_regular-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_regular_italicitalic';
  src: url('#{$custom-font-path}/uni_sans_regularitalic-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_semiboldregular';
  src: url('#{$custom-font-path}/uni_sans_semi_bold-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_semi_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'uni_sans_semibold_italicIt';
  src: url('#{$custom-font-path}/uni_sans_semibolditalic-webfont.woff2') format('woff2'),
  url('#{$custom-font-path}/uni_sans_semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
